.container {
    display: flex;       /* Puts elements in a row */
    gap: 10px;           /* Adds space between them */
    padding: 40px;
    justify-content: center;
   /* background-color: #eee;*/
}

.box {
    padding: 2000px;/*around the box, not inbetween*/
    background-color: #ccc;
    border: 1px solid #999;
}
